<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cz.w3w.cordova.videolauncher" version="0.0.1">
    <name>Device</name>
    <description>w3w.cz Cordova Video Player Launcher</description>
    <license>Apache 2.0</license>
    <keywords>cordova,video,launcher,mp4</keywords>
    <repo>https://github.com/w3w/cz.w3w.cordova.videolauncher.git</repo>
    <issue>https://github.com/w3w/cz.w3w.cordova.videolauncher/issues</issue>

    <js-module src="www/VideoLauncher.js" name="VideoLauncher">
        <clobbers target="VideoLauncher" />
    </js-module>

    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoLauncher">
                <param name="wp-package" value="VideoLauncher" />
            </feature>
        </config-file>
        <source-file src="src/wp8/VideoLauncher.cs" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoLauncher">
                <param name="ios-package" value="W3WVideoLauncher"/>
            </feature>
        </config-file>

        <source-file src="src/ios/W3WVideoLauncher.m" />
        <source-file src="src/ios/MovieViewController.m" />

        <header-file src="src/ios/W3WVideoLauncher.h" />
        <header-file src="src/ios/MovieViewController.h" />

        <framework src="MediaPlayer.framework" />
    </platform>
	
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoLauncher">
                <param name="android-package" value="cz.w3w.cordova.plugin.videolauncher.VideoLauncher"/>
            </feature>
        </config-file>
        <source-file src="src/android/VideoLauncher.java" target-dir="src/cz/w3w/cordova/plugin/videolauncher" />
    </platform>
	
</plugin>
